.admin-customers-page {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
  margin-top: -200px;
}

.admin-customers {
  padding: 20px;
  flex-grow: 1;
  width: 100%; /* Adjust width as needed */
  max-width: 1000px; /* Maximum width for content */
}

.customers-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.customers-table th, .customers-table td {
  border: 1px solid #ddd;
  padding: 12px; /* Increase padding for better spacing */
  text-align: left;
}

.customers-table th {
  background-color: #f2f2f2;
  color: #333;
  font-weight: bold;
}

.customers-table td {
  font-size: 14px; /* Adjust font size as needed */
}

/* Hover effect for table rows */
.customers-table tr:hover {
  background-color: #f9f9f9;
}

